# Getting Started With SQL and BigQuery

Learn the workflow for handling big datasets with BigQuery and SQL

Kaggle: https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery

Rafael Pavan

In [2]:
from google.colab import auth

auth.authenticate_user()

In [6]:
project_id = 'BigQuery-Rafael-0'

from google.cloud import bigquery

client = bigquery.Client(project = project_id)

In [7]:
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

tables = list(client.list_tables(dataset))

for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [8]:
table_ref = dataset_ref.table('full')

table = client.get_table(table_ref)

In [11]:
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [12]:
client.list_rows(table, max_results=5).to_dataframe()

  title   url  ... ranking deleted
0  None  None  ...    None    None
1  None  None  ...    None    None
2  None  None  ...    None    None
3  None  None  ...    None    None
4  None  None  ...    None    None

[5 rows x 14 columns]

In [19]:
client.list_rows(table, selected_fields=[table.schema[1]], max_results=5).to_dataframe()

    url
0  None
1  None
2  None
3  None
4  None